<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos en Tiempo Real</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/realtime.css">
</head>
<body>
    <h1>Productos en Tiempo Real</h1>

    <ul id="productsList" class="product-list-realtime"></ul>

    <h2>Agregar Producto</h2>
    <form id="productForm">
        <input type="text" id="title" placeholder="Título" required>
        <input type="number" id="price" placeholder="Precio" required>
        <button type="submit">Agregar Producto</button>
    </form>

    <h2>Eliminar Producto</h2>
    <form id="deleteForm">
        <input type="text" id="deleteProductId" placeholder="ID del Producto" required>
        <button type="submit">Eliminar Producto</button>
    </form>

    <h1>Productos</h1>
<ul>
    {{#each products}}
    <li>{{this.name}} - ${{this.price}} - {{this.category}}</li>
    {{/each}}
</ul>

<div class="pagination">
    {{#if hasPrevPage}}
    <a href="?page={{prevPage}}">Anterior</a>
    {{/if}}
    <span>Página {{currentPage}} de {{totalPages}}</span>
    {{#if hasNextPage}}
    <a href="?page={{nextPage}}">Siguiente</a>
    {{/if}}
</div>


    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/socketClient.js"></script>
</body>
</html>
